/*Custome properties*/
:root {
  --light-green: #009688;
  --yellowish: #f7f712;
  --medium-font-size: 20px;
  --large-font-size: 35px;
  --small-margin: 10px;
}
/*Main content area*/
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #e6f9e4;
}
/*Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--small-margin) - 5px);
  background-color: var(--light-green);
}
#siteLogo {
  margin: var(--small-margin) 0px var(--small-margin) 0px;
  width: 200px;
  height: 110px;
}
#mainHeading {
  margin-top: -5px;
  margin-bottom: calc(var(--small-margin) + 10px);
  text-align: center;
  font-size: calc(var(--medium-font-size) * 2.5);
  color: var(--light-green);
}
/*Search pet*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fetch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#searchInput {
  padding: 10px;
  width: 37%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#fetchButton {
  width: 20%;
  height: 48px;
  font-weight: bold;
  color: var(--yellowish);
  background-color: var(--light-green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#fetchButton,
#searchInput {
  margin-top: var(--small-margin);
  margin-bottom: calc(var(--small-margin) + 10px)x;
  font-size: var(--large-font-size);
}
#fetchButton:hover {
  background-color: #00796b;
}
/*Error message*/
#error-message {
  margin-top: var(--small-margin);
  color: #d32f2f;
}
/*Loading message progressbar*/
#progress-container {
  margin-top: calc(var(--small-margin) - 6px);
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
}
#progress-bar {
  height: 100%;
  width: 100%;
  background-color: var(--light-green);
  border-radius: 5px;
  transition: width 0.3s ease;
}
#loadingMessage {
  margin-top: var(--small-margin);
  margin-bottom: var(--small-margin);
  font-size: var(--large-font-size);
}
/*Main content*/
.container {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--small-margin) + 10px);
  height: auto;
  text-align: center;
}
/*Loaded Gif image*/
#gifImage {
  margin-top: calc(var(--small-margin) + 10px);
  width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px #0000001a;
}
/*Footer*/
footer {
  margin-top: calc(var(--small-margin) - 5px);
  padding: 10px;
  color: var(--yellowish);
  background-color: var(--light-green);
  text-align: center;
  font-size: calc(var(--large-font-size) - 7px);
}
#developer {
  margin-bottom: -25px;
}